[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = syswraith@proton.me
	name = syswraith
[commit]
	verbose = true
[color]
	ui = auto
